.profile {
    text-align: left;
    margin: auto;
    width: 630px;
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 15px 20px 5px;
    color: #575757;
    font: 0.95em/1.5 "Arial",
        "Helvetica",
        sans-serif;

    display: grid;
    grid-template-areas: 'avatar info';
    grid-template-columns: 100px 1fr;

    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.profile-avatar img {
    width: 80px;
    border-radius: 100px;
    border: 2px solid #0087ff;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

.profile-avatar {
    grid-area: avatar;
}

.profile-info {
    grid-area: info;
    display: grid;
    grid-template-columns: 100px auto;
}