.main-content {
    text-align: left;
    margin: auto;
    width: 630px;
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 15px 20px 5px;
}

.main-content ol{
    padding-left: 2em;
}