.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-logout {
    display: inline-block;
}

.header-username {
    cursor: pointer;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.header-username:hover::before {
    content: attr(data-title);
    padding-right: 12px;
    font-size: 15px;
}

.header .header-active {
    color: black;
    text-shadow:
        1px 1px 2px #0087ff,
        0 0 1em #0087ff,
        0 0 0.2em #0087ff;
}