.login {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 40px;
    color: white;
    width: 300px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
        0 1px 1px rgba(128, 128, 128, 0.155),
        0 2.1px 2.1px rgba(128, 128, 128, 0.195),
        0 4.4px 4.4px rgba(128, 128, 128, 0.241),
        0 12px 12px rgba(128, 128, 128, 0.35);
}

.form h1 {
    margin: 0 0 24px 0;
}

.form .form-input-material {
    margin: 12px 0;
}

.form .btn {
    width: 100%;
    margin: 18px 0 9px 0;
    padding: 8px 20px;
    position: relative;
    border-radius: 0;
}

.form input {
    color: white;
}


.form .btn,
.form input {
    text-align: center;
    height: 40px;
    font: inherit;
    outline: none;
    color: #0087ff;
    border: 1px solid #0087ff;
}

.form .btn {
    cursor: pointer;
}

.btn-ghost:hover {
    box-shadow: 0 0 20px 5px #0087ff;
}

.form .error {
    font-size: 14px;
    color: red;
}